<% if admin? || (matches_our_stock_location? carton.stock_location_id) %>

  <div id="<%= dom_id(carton) %>" data-hook="admin_carton_formXX">
    <fieldset class="no-border-bottom">
      <legend align="center" class="stock-location" data-hook="stock-location">
        <span class="carton-number"><%= carton.number %></span>
        -
        <span class="carton-state"><%= Spree.t("shipment_states.shipped") %></span>
        <span class="carton-exchange"><%= Spree.t(:exchange) if carton.any_exchanges? %></span>
        <%= Spree.t(:package_from) %>
        <strong class="stock-location-name" data-hook="stock-location-name">'<%= carton.stock_location.name %>'</strong>
      </legend>
    </fieldset>
  </div>

<% end %>

